h1{
    background-color:DarkOliveGreen ;
    color:Whitesmoke;
    font-family: 'Roboto', sans-serif;
  }
  
  img {
    width: 8em;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  
  footer{
    background-color:DarkOliveGreen;
    color:whitesmoke;
    font-style: oblique;
  }
  
  #copyright {
      color: whitesmoke;
      padding-left: 20px;
      font-size: 20px;
  }
  
  #rcorners1 {
    border-radius: 25px;
    height: 80px;
     
  }
  #rcorners2 {
    border-radius: 25px;
   
    height:80px;  
  }
  body{
      background-color:LightGoldenRodYellow;
  }
  p{
    font-family: 'Manrope', sans-serif;
  }
