header, footer {
    color: #ffffff;
    background-color:navy;
    text-align: center;
    border-radius: 10px;
}
header {
    padding: 8px;
    line-height: 10px;
}
header, main {
    font-family: 'Roboto', sans-serif;
    
}
header, footer {
    margin: 1rem auto;
    max-width: 760px;
    
}

header {
    display: block;
}

p{
    font-family: 'Manrope', sans-serif;
  }
  .gridArea{
      display: grid;
      font-size: 0.8rem;
      grid-template-columns: 1fr;
      
  }
  img{
      max-width: 12.5em;
  }
 
    